.player-episode-label {
    font-weight: bold;
    font-size: smaller;
}

.player-show-label {
    font-size: smaller;
}

.small-label {
    font-size: smaller;
}

.bold-label {
    font-weight: bold;
}

progressbar.playback-progress trough {
    border-radius: 0;
}
progressbar.playback-progress trough progress {
    border-radius: 0;
    border-right: none;
    border-left: none;
}

actionbar.player-small revealer box {
    border-top: none
}

popover modelbutton > box > label {
    font-feature-settings: "tnum";
}

.episode_description .podcast_title {
    color: @insensitive_fg_color;
}
.episode_description .episode_title {
    font-weight: bold;
    font-size: larger;
}
.episode_description .episode_duration_date {
    color: @insensitive_fg_color;
}
